$blue: #338be6;
$gray: #495057;
$pink: #f783ac;

@mixin button-color($color: $blue) {

  background: $color;

  &:hover, &:active {
    background: lighten($color, 10%);
  }

  &.outline {
    color: $color;
    background: none;
    border: 1px solid $color;
    &:hover{
      background: $color;
      color: #fff;
    }
  }
}

.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: {
    left: 1rem;
    right: 1rem;
  };

  &.large {
    height: 3rem;
    font-size: 1rem;
  }

  &.medium {
    height: 2.25rem;
    font-size: 1rem;
  }

  &.small {
    height: 1.75rem;
    font-size: 0.875rem;
  }

  &.blue {
    @include button-color($blue);
  }

  &.pink {
    @include button-color($pink);
  }

  &.gray {
    @include button-color($gray);
  }

  & + & {
    margin-left: 1rem;
  }

  &.fullWidth {
    width: 100%;
    & + & {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}

